<div class="container-fluid h-100 mt-5">
    <div class="row justify-content-center align-items-center h-100">


        <div class="col col-sm-6 col-md-6 col-lg-4 col-xl-3 bg-light rounded">
            <form #addTaskForm="ngForm" (ngSubmit)="onSubmit()" class="text-center border border-light p-5">
                <!--    <p>{{ assignmentModel | json }}</p>-->
                <p class="h4 mb-4">Account gegevens wijzigen!</p>
                <div class="form-group">
                    <input class="form-control form-control-lg" type="text" [(ngModel)]="userModel.username"
                        name="username" [value]="userModel?.username" />
                </div>
                <div class="form-group">
                    <input class="form-control form-control-lg" type="text" [(ngModel)]="userModel.email" name="email"
                        [value]="userModel?.email" />
                </div>
                <div class="form-group">
                    <input class="form-control form-control-lg" type="password" [(ngModel)]="currentpassword"
                        name="currentpassword" placeholder="Wachtwoord" />
                </div>
                <div class="form-group">
                    <input class="form-control form-control-lg" type="password" [(ngModel)]="newpassword"
                        name="newpassword" placeholder="Nieuw wachtwoord" />
                </div>
                <div class="form-group">
                    <input class="form-control form-control-lg" type="password" [(ngModel)]="confirmpassword"
                        name="confirmpassword" placeholder="Bevestig wachtwoord" />
                </div>



                <div *ngIf="userModel.companyID != null">
                    <p class="h4 mb-4">Company gegevens!</p>
                    <div class="form-group">
                        <input class="form-control form-control-lg" type="text" [(ngModel)]="userModel.company.companyname"
                            name="companyname" [value]="userModel?.company.companyname" />
                    </div>
                    <div class="form-group">
                        <input class="form-control form-control-lg" type="text" [(ngModel)]="userModel.company.phonenumber"
                            name="phonenumber" [value]="userModel?.company.phonenumber" />
                    </div>
                    <div class="form-group">
                        <input class="form-control form-control-lg" type="text" [(ngModel)]="userModel.company.website"
                            name="website" [value]="userModel?.company.website" />
                    </div>
                    <div class="form-group">
                        <input class="form-control form-control-lg" type="text" [(ngModel)]="userModel.company.biography"
                            name="biography" [value]="userModel?.company.biography" />
                    </div>
                    <div class="form-group" *ngFor="let location of locations; let i = index;">
                        <input class="form-control form-control-lg" type="text" [(ngModel)]="location.adress"
                            name="location_{{i}}" [value]="location.adress" />
                        <input class="form-control form-control-lg" type="text" [(ngModel)]="location.township"
                            name="locationtownShip_{{i}}" [value]="location.townShip" />
                    </div>
                    <div class="form-group" >
                        <p>Voeg een locatie toe</p>
                        <input class="form-control form-control-lg" type="text" [(ngModel)]="locatie.adress" name="locatie" placeholder="Straat + huisnummer" />
                        <input class="form-control form-control-lg" type="text" [(ngModel)]="locatie.township" name="locatietownShip" placeholder="Postcode + Gemeente"/>
                    </div>
                </div>
                <div *ngIf="userModel.studentID != null">
                    <p class="h4 mb-4">Student gegevens</p>
                    <div class="form-group">
                        <input class="form-control form-control-lg" type="text" [(ngModel)]="userModel.student.nickname"
                            name="nickname" [value]="userModel?.student.nickname" />
                    </div>
                    <div class="form-group">
                        <input class="form-control form-control-lg" type="text" [(ngModel)]="userModel.student.name"
                            name="name" [value]="userModel?.student.name" />
                    </div>
                    <div class="form-group">
                        <input class="form-control form-control-lg" type="date" 
                            name="birthDay"  [value]="(userModel?.student.birthday | date:'yyyy-MM-dd')" disabled />
                    </div>
                    <div class="form-group">
                        <input class="form-control form-control-lg" type="text" [(ngModel)]="userModel.student.biography"
                            name="biography" [value]="userModel?.student.biography" />
                    </div>
                    <div class="form-group">
                        <input class="form-control form-control-lg" type="text" [(ngModel)]="userModel.student.linkedin"
                            name="linkedin" [value]="userModel?.student.linkedin" />
                    </div>
                    <div class="form-group">
                        <input class="form-control form-control-lg" type="text" [(ngModel)]="userModel.student.experience"
                            name="experience" [value]="userModel?.student.experience" />
                    </div>
                    <div class="form-group">
                        <input class="form-control form-control-lg" type="text" [(ngModel)]="userModel.student.phonenumber"
                            name="phonenumber" [value]="userModel?.student.phonenumber" />
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-info btn-lg btn-block" type="submit" [disabled]="submitted"> Wijzig</button>
                </div>
            </form>
        </div>
    </div>
    <button (click)="back()" class="btn btn-outline-info pull-right">Teruggaan</button>
</div>