<div class="container-fluid h-100 mt-5">
    <div class="row justify-content-center align-items-center h-100">
       
       
        <div class="col col-sm-6 col-md-6 col-lg-4 col-xl-3 bg-light rounded">
            <form #addTaskForm="ngForm" (ngSubmit)="onSubmit()" class="text-center border border-light p-5">
            <!--    <p>{{ assignmentModel | json }}</p>-->
                <p class="h4 mb-4">Account gegevens wijzigen!</p>
                <div class="form-group">
                    <input class="form-control form-control-lg" type="text" [(ngModel)]="userModel.username" name="username" [value]="userModel?.username"/>
                </div>
                <div class="form-group">
                    <input class="form-control form-control-lg" type="text" [(ngModel)]="userModel.email" name="email" [value]="userModel?.email"/>
                </div>
                <div class="form-group">
                    <input class="form-control form-control-lg" type="password" [(ngModel)]="currentpassword" name="currentpassword" placeholder="Wachtwoord" />
                </div>
                <div class="form-group">
                    <input class="form-control form-control-lg" type="password" [(ngModel)]="newpassword"  name="newpassword" placeholder="Nieuw wachtwoord" />
                </div>
                <div class="form-group">
                    <input class="form-control form-control-lg" type="password" [(ngModel)]="confirmpassword" name="confirmpassword" placeholder="Bevestig wachtwoord" />
                </div>
                <div *ngIf="userModel.companyID != null">
                    <p class="h4 mb-4">Company gegevens</p>
                    <div class="form-group">
                        <input class="form-control form-control-lg" type="text" [(ngModel)]="companyModel.companyname" name="companyname" [value]="companyModel?.companyname"/>
                    </div>
                    <div class="form-group">
                        <input class="form-control form-control-lg" type="text" [(ngModel)]="companyModel.phonenumber" name="phonenumber" [value]="companyModel?.phonenumber"/>
                    </div> 
                    <div class="form-group">
                        <input class="form-control form-control-lg" type="text" [(ngModel)]="companyModel.website" name="website" [value]="companyModel?.website"/>
                    </div>
                    <div class="form-group">
                        <input class="form-control form-control-lg" type="text" [(ngModel)]="companyModel.biography" name="biography" [value]="companyModel?.biography"/>
                    </div>
                    <div class="form-group" *ngFor="let location of locations; let i = index;">
                        <input class="form-control form-control-lg" type="text" [(ngModel)]="location.adress" name="location_{{i}}" [value]="location.adress"/>
                        <input class="form-control form-control-lg" type="text" [(ngModel)]="location.township" name="locationtownShip_{{i}}" [value]="location.townShip"/>
                    </div>
                </div>
                <div *ngIf="userModel.studentID != null">
                    <p class="h4 mb-4">Student gegevens</p>
                    <div class="form-group">
                        <input class="form-control form-control-lg" type="text" [(ngModel)]="studentModel.nickname" name="nickname" [value]="studentModel?.nickname"/>
                    </div>
                    <div class="form-group">
                        <input class="form-control form-control-lg" type="text" [(ngModel)]="studentModel.name" name="name" [value]="studentModel?.name"/>
                    </div> 
                    <div class="form-group">
                        <input class="form-control form-control-lg" type="date" [(ngModel)]="studentModel.birthDay" name="birthDay" [value]="studentModel?.birthDay"/>
                    </div>
                    <div class="form-group">
                        <input class="form-control form-control-lg" type="text" [(ngModel)]="studentModel.biography" name="biography" [value]="studentModel?.biography"/>
                    </div>
                    <div class="form-group">
                        <input class="form-control form-control-lg" type="text" [(ngModel)]="studentModel.linkedin" name="linkedin" [value]="studentModel?.linkedin"/>
                    </div>
                    <div class="form-group">
                        <input class="form-control form-control-lg" type="text" [(ngModel)]="studentModel.experience" name="experience" [value]="studentModel?.experience"/>
                    </div>
                    <div class="form-group">
                        <input class="form-control form-control-lg" type="text" [(ngModel)]="studentModel.phonenumber" name="phonenumber" [value]="studentModel?.phonenumber"/>
                    </div>
                </div>
                <div class="form-group">
                <button class="btn btn-info btn-lg btn-block" type="submit" [disabled]="submitted"> Wijzig</button>
                </div>
            </form>
        </div>
    </div>