<div class="container mt-5" >
    <h1>Welkom bij Binary Beasts</h1>

    <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Taken</h5>
              <p class="card-text">Op deze applicatie kan je een taak toevoegen waar studenten zich bij kunnen registreren om te maken.
                  Natuurlijk kunnen er meerdere studenten zich aanmelden voor dezelfde taak. Het is dus nog je eigen keuze wie uiteindelijk de opdracht krijgt.
              </p>
            </div>
          </div>
    
</div>