<div class="container mt-5">
  <h1>Welkom bij Binary Beasts</h1>

  <div class="row">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">De applicatie</h5>
        <p class="card-text">
          We hebben een applicatie ontwikkeld waarbij het makkelijker is voor bedrijven om taken toe te wijzen aan
          studenten, stagairs of mensen die in het algemeen vrij veel bezig zijn met IT.
          Hier gaat het dan over taken die niet dringend zijn, maar toch het onderzoeken waard.
        </p>
      </div>
    </div>

    <div class="card mx-auto" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Bedrijven</h5>
        <p class="card-text">
          Enerzijds kan je je als bedrijf registreren. Hierna kan je dus taken toevoegen die het onderzoeken waard zijn.
          Studenten krijgen deze taken te zien en kunnen zich aanmelden om deze te maken. Als bedrijf kan je dan kiezen
          aan welke student(en) je de taak toewijst. Je krijgt de nodige info ook te zien van alle studenten die zich
          hebben aangemeld voor de taak. Op basis van dit kan je dus de beste student naar jou mening kiezen. Hierbij
          staan ook de nodige contactgegevens zodat alle details kunnen worden besproken.
        </p>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Studenten</h5>
        <p class="card-text">
          Anderzijds kan je je als student registreren. Hierna kan je een lijst zien van alle taken die zijn toegevoegd
          door bedrijven. Je kan van elke taak de details gaan bekijken zodat je weet of dit iets voor jou is of niet.
          Is de taak iets voor jou dan kan je je hiervoor aanmelden. Je kan tegelijkertijd voor meerdere taken aangemeld
          zijn. Het is niet omdat je aangemeld bent dat de taak voor jou is. Het bedrijf kan je info bekijken en nagaan
          of je geschikt bent voor de taak. Vinden ze je geschikt dan zullen ze contact opnemen met jou.
        </p>
      </div>
    </div>
  </div>


</div>