<div class="container mt-5">

    <div class="row">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <p class="card-text">
                    Je bent nu aangemeld als administrator. 
                    Nu kun je bedrijven en studenten bekijken, aanmaken, 
                    updaten en verwijderen.
                    Gegeven reviews en oprdachten aanpassen.
                </p>
            </div>
        </div>
    </div>
    <div class=" mx-5" style="width: 18rem;">
        <div class="card-body">
            <p class="card-text">
                <a routerLink="admin/gebruikersLijst"><button class="btn btn-outline-info pull-right">Bekijk alle gebruikers</button></a>
            </p>

            <p class="card-text">
                <a routerLink="admin/takenLijst"><button class="btn btn-outline-info pull-right">Pas opdrachten aan</button></a>
            </p>
        </div>
    </div>
</div>