<section class="form-simple">
    <div class="card">
      <div class="header pt-3 grey lighten-2">
        <div class="row d-flex justify-content-start">
          <h3 class="deep-grey-text mt-3 mb-4 pb-1 mx-5">Login</h3>
        </div>
      </div>
      <div class="card-body mx-4 mt-4">
        <div class="md-form">
          <input type="email" id="email" class="form-control">
          <label for="email">Email</label>
        </div>
        <div class="md-form pb-3">
          <input type="password" id="password" class="form-control">
          <label for="password">Wachtwoord</label>
          <p class="font-small grey-text d-flex justify-content-end"> <a href="#"
              class="dark-grey-text font-weight-bold ml-1"> Wachtwoord vergeten?</a></p>
        </div>
        <div class="text-center mb-4">
          <button type="button" class="btn btn-danger btn-block z-depth-2">Login</button>
        </div>
        <p class="font-small grey-text d-flex justify-content-center">Geen account? <a href="#"
            class="dark-grey-text font-weight-bold ml-1">Registreer</a></p>
      </div>
    </div>
  </section>