<div class="container-fluid h-100 mt-5">
  <div class="row">
    <div class="col-4">{{ assignment.naam }}</div>
    <div class="col-4">
      {{ approvedUserAmount }}/{{ assignment.quantityUsers }}
    </div>
    <div class="col-4">
      <button (click)="signup()" class="btn btn-primary">
        Meld aan voor opdracht
      </button>
    </div>
  </div>
  <br />
  <br />
  <div class="row justify-content-md-center">
    <div class="col-5">
      Omschrijving van de taak
    </div>
  </div>
  <br />
  <div class="row justify-content-md-center">
    <div class="col-10 col-center">{{ assignment.omschrijving }}</div>
  </div>

  <br /><br />

  <div class="row justify-content-md-center">
    <div class="col-5">
      Tags
    </div>
  </div>

  <div class="row">
    <div class="col-auto" *ngFor="let tag of tags">
      <div class="card" style="margin-right: 2rem;">
        {{ tag.text }}
      </div>
    </div>
  </div>
  <br /><br />
  <div class="row">
    <div class="col-5">
      Opdrachtgever
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-auto">{{ company.companyname }}</div>
  </div>
  <br />
</div>
