<div class="container-fluid h-100 mt-5">
    <div class="container">
        <div class="row font-weight-bold">
            <div class="col-sm">
                Titel
            </div>
            <div class="col-sm">
                Details
            </div>
        </div>
        <div class="row m-2 border-bottom" *ngFor="let assignment of allAssignements">
            <div class="col-sm">
                {{ assignment.naam }}
            </div>
            <div class="col-sm mb-1">
                <button (click)="details(assignment.assignmentID)" class="btn btn-primary">
                    Details opdracht
                </button>
            </div>
        </div>
    </div>
</div>