<div class="container mt-5">

    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <p class="card-text">
                Je hebt je nu als student geregistreerd. Nu heb je de mogelijkheid om een lijst te bekijken van alle
                taken die zijn toegevoegd door bedrijven.
                Je kan van elke taak de details gaan bekijken zodat je weet of di tiets voor jou is of
                niet.
                Is de taak iets voor jou dan kan je je hiervoor aanmelden. Je kan tegelijkertijd voor meerdere taken
                aangemeld
                zijn. Het is niet omdat je aangemeld bent dat de taak voor jou is. Het bedrijf kan je info bekijken en
                nagaan
                of je geschikt bent voor de taak. Vinden ze je geschikt dan zullen ze contact opnemen met jou.
            </p>
        </div>
    </div>
</div>