<div class="container mt-5">

    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Taken</h5>
            <p class="card-text">Als student kan je alle beschikbare taken gaan bekijken. Je kan de details van elke
                taak eens bekijken voor te zien welke je het meeste aanstaat.
                Staat een taak je aan dan kan je je hier natuurlijk voor registreren. Het bedrijf van wie deze taak is
                gaat zelf beslissen of ze jou goedkeuren. Niet getreurd als ze iemand anders keizen, er zijn nog genoeg
                andere taken.
            </p>
            <button (click)="takenlijst()" class="btn btn-submit" type="submit">Bekijk alle taken</button>
        </div>
    </div>

</div>