<div class="container-fluid h-100 mt-5">
  <div class="row justify-content-center align-items-center h-100">
    <div class="col col-sm-6 col-md-6 col-lg-4 col-xl-3 bg-light rounded">
      <h2 class="mt-2">Registreer je als student</h2>
      
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" >
        <div class="form-group">
          <input
            _ngcontent-c0=""
            class="form-control form-control-lg"
            placeholder="Bijnaam"
            type="text"
            formControlName="nickname"
          />
          <div *ngIf="f.nickname.errors" class="invalid-feedback d-block">
            Je moet jezelf een bijnaam geven!
          </div>
        </div>
        <div class="form-group"> 
          <input
            class="form-control form-control-lg"
            placeholder="Voor + achternaam"
            type="text"
            name="name"
            formControlName="name"
          />
          <div *ngIf="f.name.errors" class="invalid-feedback d-block">
            Je moet jouw namen opgeven!
          </div>
        </div>
        <div class="form-group">
          <input
            class="form-control form-control-lg"
            placeholder="Geboortedatum"
            type="date"
            name="birthDate"
            formControlName="birthDay"
          />
          <div *ngIf="f.birthDay.errors" class="invalid-feedback d-block">Geef een geldige geboortedatum in!</div>
        </div>
        <div class="form-group">
          <input
            class="form-control form-control-lg"
            placeholder="Ervaring"
            type="text"
            name="experience"
            formControlName="experience"
          />
        </div>
        <div class="form-group">
          <input
            class="form-control form-control-lg"
            placeholder="Biografie"
            type="text"
            name="biography"
            formControlName="biography"
          />
        </div>
        <div class="form-group">
          <input
            class="form-control form-control-lg"
            placeholder="LinkedIn"
            type="text"
            name="linkedIn"
            formControlName="linkedIn"
          />
        </div>
        <div class="form-group">
          <input
            class="form-control form-control-lg"
            placeholder="Telefoonnummer"
            type="text"
            name="phoneNumber"
            formControlName="phonenumber"
          />
        </div>

        <div class="form-group">
          <button class="btn btn-info btn-lg btn-block" [disabled]="!registerForm.valid">Registreer</button>
        </div>
      </form>
    </div>
  </div>
</div>
