<div class="container-fluid h-100 mt-5">
  <div class="row mb-5 ">
    <div class="col-12 text-center">
      <h2>{{ (bedrijf | async).companyname }}</h2>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-3 font-weight-bold">Gebruikersnaam:</div>
    <div class="col-9">{{ (user | async).username }}</div>
  </div>
  <div class="row mb-5">
    <div class="col-3 font-weight-bold">Email adres:</div>
    <div class="col-9">
      <a href="javascript: void(0);" (click)="mail()">{{
        (user | async).email
      }}</a>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-3 font-weight-bold">Telefoonnummer:</div>
    <div class="col-9">
      <a href="javascript: void(0);" (click)="call()">{{
        (bedrijf | async).phonenumber
      }}</a>
    </div>
  </div>

  <div class="row mb-5">
    <div class="col-3 font-weight-bold">Website:</div>
    <div class="col-9">
      <a [href]="(bedrijf | async).website" target="_blank">{{
        (bedrijf | async).website
      }}</a>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-3 font-weight-bold">
      Over {{ (bedrijf | async).companyname }}:
    </div>
    <div class="col-9">{{ (bedrijf | async).biography }}</div>
  </div>
  <div class="row mb-5">
    <div class="col-3 font-weight-bold">
      Locaties:
    </div>
    <div class="col-auto card" *ngFor="let loc of (bedrijf | async).locations">
      <div class="row">
        <div class="col-12 mb-1">{{ loc.adress }}</div>
        <div class="col-12">{{ loc.township }}</div>
      </div>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-3 font-weight-bold">
      Opdrachten:
    </div>
    <div class="col-4 card" *ngFor="let ass of (bedrijf | async).assignments">
      <div class="row">
        <div class="col-12 mb-1">{{ ass.naam }}</div>
        <div class="col-12">{{ ass.omschrijving }}</div>
      </div>
    </div>
  </div>
  <div class="row mb-5">
        <div class="col-3 font-weight-bold">
          Reviews:
        </div>
        <div class="col-4 card" *ngFor="let review of (reviews | async)">
          <div class="row">
            <div class="col-12 mb-1">{{ review.reviewText }}</div>
          </div>
        </div>
      </div>
</div>
