<div class="container mt-5">

    <div class="row">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <p class="card-text">
                    Nu heb je je aangemeld als bedrijf. Je hebt de mogelijkheid om taken toe te voegen die voor jullie
                    als
                    bedrijf niet dringend zijn maar zeker het onderzoeken waard.
                    Studenten krijgen deze taken te zien en kunnen zich aanmelden om deze te maken. Als bedrijf kan je
                    dan
                    kiezen
                    aan welke student(en) je de taak toewijst. Je krijgt de nodige info ook te zien van alle studenten
                    die
                    zich
                    hebben aangemeld voor de taak. Op basis van dit kan je dus de beste student naar jou mening kiezen.
                    Hierbij
                    staan ook de nodige contactgegevens zodat alle details kunnen worden besproken.
                </p>
            </div>
        </div>

        <div class=" mx-5" style="width: 18rem;">
                <div class="card-body">
                    <p class="card-text">
                            <a routerLink="takenlijst"><button class="btn btn-outline-info pull-right" >Zie alle taken die je als bedrijf hebt open
                                    staan</button></a>
                    </p>

                    <p class="card-text">
                            <a routerLink="taakToevoegen"><button class="btn btn-outline-info pull-right" >Voeg een nieuwe taak toe</button></a>
                    </p>
                </div>
            </div>

        
    </div>

</div>