<div class="container mt-5">

    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Taken</h5>
            <p class="card-text">Als bedrijf kan je taken toevoegen op de applicatie. Studenten kunnen deze taken
                bekijken en zich aanmelden voor deze taak te maken. Per taak die je hebt toegevoegd kan je dan kijken
                welke studenten zich allemaal hebben aangemeld voor die specifieke taak. Je kan het profiel van elke
                student eens bekijken en op basis hiervan een keuze maken wie geschikt is voor jou taak.
            </p>
            <button (click)="takenlijst()" class="btn btn-submit" type="submit">Bekijk alle taken</button>
        </div>
    </div>

</div>