<div class="container mt-5">

    <div class="row">
        <div class="card">
            <div class="card-body">
                <p class="card-text">
                    Nu heb je je aangemeld als bedrijf. Je hebt de mogelijkheid om opdrachten toe te voegen die voor
                    jullie
                    als
                    bedrijf niet dringend zijn maar zeker het onderzoeken waard.
                    Studenten krijgen deze opdrachten te zien en kunnen zich aanmelden om deze te maken. Als bedrijf kan
                    je
                    dan
                    kiezen
                    aan welke student(en) je de opdracht toewijst. Je krijgt de nodige info ook te zien van alle
                    studenten
                    die
                    zich
                    hebben aangemeld voor de opdracht. Op basis hiervan kan je de beste student naar jou mening kiezen.
                    Hierbij
                    staan ook de nodige contactgegevens zodat alle details kunnen worden besproken.
                </p>
            </div>
        </div>
    </div>
    <div class="row">

        <div class=" mx-auto" style="width: 18rem;">
            <div class="card-body">
                <p class="card-text">
                    <a routerLink="takenlijst"><button class="btn btn-outline-info pull-right">Zie alle opdrachten die
                            je als
                            bedrijf hebt open
                            staan</button></a>
                </p>

                <p class="card-text">
                    <a routerLink="/bedrijf/takenlijst/taakToevoegen"><button
                            class="btn btn-outline-info pull-right">Voeg een nieuwe opdracht
                            toe</button></a>
                </p>

                <p class="card-text">
                    <a routerLink="/bedrijf/accountSettings"><button
                            class="btn btn-outline-info pull-right">Account Settings</button></a>
                </p>
            </div>
        </div>


    </div>

</div>